################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/CoverageReport-2016-08-29-17h55m53s
/bin/Debug/CoverageReport-2016-08-29-17h55m53s
*.ilk
*.pdb
/3rdParty
